.btn {
	padding: 1px 15px 0; 
	font-size: $normal;	
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	border: 1px solid;
	line-height: $standardButtonHeight - 2px;
	text-decoration: none;
	
	&:hover {text-decoration: none;}
}

.btn--primary {
	// line-height: 38px;
	background-color: transparent;
	color: $mainFontColor;
	font-family: $titleFont;
	border-color: $primaryColor;

	&:hover {
		background-color: $primaryColor;
		color: $secondaryFontColor;
	}
}

// --------------------
ul.breadcrumbs {
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	& > li {
		display: inline-block;

		a {
			color: $mainFontColor;
			font-size: 14px;
			// line-height: 50px;

			&:hover {text-decoration: underline;}

		}

		&.active a {
			// color: $descriptionTextColor;
			opacity: 0.5;
			&:hover {text-decoration: none;}
		}

		& + li {margin-left: 5px;}
		& + li:before {
			content: '';
			width: 6px;
			height: 6px;
			background-color: $primaryColor;
			display: inline-block;
			margin-right: 8px;
			border-radius: 50%;
			vertical-align: middle;
		}
	}	
}

// -------------------------------
.social-media-list {
	li {
		display: inline-block;
		vertical-align: top;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #D8D8D8;
		transition: all 0.4s;

		& + li {margin-left: 5px;}

		.icomoon {
			display: inline-block;
			width: 100%;
			height: 100%;
			line-height: 40px;
			vertical-align: middle;
			text-align: center;

			&:before {
				font-size: 16px;
				color: #0D0D0F;
			}
		}
	}
}


// ----------Hidden Blocks----------

.darkOverlay,
.gradientOverlay {
	background-color: $darkOverlayColor;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	z-index: $darkOverlayZIndex;
}

.hiddenContent.height {
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease-out;
}
.hiddenContent.right {
	// width: 0;
	// overflow: hidden;
	right: 0;
	transform: translateX(100%);
	transition: transform 0.4s ease-out;
}

.hiddenContent.scale {
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: transform 0.3s;

	&.opacityAnimate > div {
		opacity: 0;
		transition: opacity 0.2s ease-in-out 0.15s;
	}

	&.opacityAnimate:not(.showScale) {
		transition-delay: 0.1s;
		& > div {
			transition-delay: 0s;
		}
	}
}

.js_hideScale {
	transform: scaleY(0)!important;
}
.js_showScale {
	transform: scaleY(1)!important;
	
	&.opacityAnimate > div {
		opacity: 1!important;
	}
}

.js_hide {display: none !important;}
.js_show {display: block !important;}

.toggleBlock {
	display: none;

	&.active {
		display: block;
	}
}

// --------------------------
.main-video-wrapper {
	margin-top: 25px;
	position: relative;
	padding-bottom: 108%;
	height: 0;
	overflow: hidden;

	& > iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
	}
}

// --------------------------
.description {

	.description-title {
		font-size: 16px;
		line-height: 24px;
		& + * {margin-top: 6px;}
	}

	p {
		font-size: $descriptionFontSize;
		line-height: $descriptionLineHeight;
		// text-align: center;

		& + p {
			margin-top: 25px;
		}
	}

	ul, ol {
		margin-top: 15px;
		& + p {margin-top: 15px;}
		& > li {
			margin-top: 10px;
			line-height: $descriptionLineHeight;
			// text-align: center;
			font-size: $descriptionFontSize;
		}
	}

	&.page-description {
		margin-top: 25px;
		p {
			// font-size: $large;
		}
		.link-wrapper {
			text-align: right;
		}
	}
}

// ======Media=========
@media (min-width: 767px) {
	.main-video-wrapper {
		padding-bottom: 45%;
	}

	// ---------

}