
html, body {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: $pageFontSize;
	font-family: $mainFont;
	color: $mainFontColor;
	position: relative;
}

img {width: 100%;}
a > img {display: table;}

ul.disc {
	list-style-type: disc;
	padding-left: 20px;
}
ol.decimal {
	list-style-type: decimal;
	padding-left: 20px;
}

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.text-right {text-align: right;}
.text-center {text-align: center;}

.title {
	font-weight: 700;
	font-family: $titleFont;
	& + * {	margin-top: 15px;	}
}
.bold {font-weight: 700;}
.semi-bold {font-weight: 600; }
.sub-title {
	margin-top: 10px;
	font-size: 0.6em;
}
.page-title {
	font-size: $titleFontSize;
	text-align: center;
}
.section-title {
	font-size: $sectionTitleFontSize;
}
.sectionBlock-title {
	font-size: $sectionBlockTitleFontSize;
}
.article-title {
	font-size: $sectionTitleFontSize;
}

// ------
.mainWrapper {
	max-width: $pageMaxWidth;
	margin: 0 auto;
}
.contentWrapper {
	overflow: hidden;
}
.page {
	background-color: $mainBackgroundColor;
	// background-image: url('../img/city-background.svg');
	// background-repeat: no-repeat;
	// background-position-y: bottom;
	// background-size: auto 170px;
	// padding: 0 0 130px 0;
}

.pageSection {
	background-color: inherit;
}

.pageBackgroundWrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -50;
	background-color: $mainBackgroundColor;
}

.wrapperBlock > * {
  width: 100%;
}

.inlineImg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.imgWrapper {
	display: table;
	& > img {display: table-cell;}
}

// ---------Position--------
.relative {position: relative;}
.absolute {position: absolute;}
.absolute.center {
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.absolute.stretch {
	top: 0; bottom: 0; left: 0; right: 0;
}


// =========Buttons, inputs, links======

input, select {
	height: $formElementsHeight;
}
input[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin: 0;

	& + label {
		margin-bottom: 0;
		margin-left: 15px;
		width: 90%;
	}
}
a {
	text-decoration: none;
	color: $linksColor;
}
a.underline {
	text-decoration: underline;
	&:hover {text-decoration: none;}
}

/* ======Media Queries===== */

@media (min-width: 991px) {
	.page-title {
		font-size: $titleFontSizeLaptop;
	}
	.section-title {
		font-size: $sectionTitleFontSizeLaptop;
	}
}

